## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

## Ans:

In [1]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)
print('Type of the series:', type(series))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
Type of the series: <class 'pandas.core.series.Series'>

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

## Ans:

In [2]:
lst = [i for i in range(1,21,2)]

In [3]:
series2 = pd.Series(lst)
print(series2)
print('Type of the series:', type(series2))

0     1
1     3
2     5
3     7
4     9
5    11
6    13
7    15
8    17
9    19
dtype: int64
Type of the series: <class 'pandas.core.series.Series'>

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame. \
Name : Alice, Bob, Claire; \
Age : 25, 30, 27; \
Gender : Female, Male, Female

## Ans:

In [4]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## Ans:

In Pandas, a DataFrame is a two-dimensional, size-mutable, and tabular data structure that is similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in Pandas and is capable of storing data in a structured and organized manner. You can think of a DataFrame as a collection of Pandas Series objects, where each Series represents a column, and the columns are aligned by a common index. DataFrames are highly versatile and allow you to work with structured data efficiently.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is essentially a single column or row of data with an associated index. You can think of a Series as a labeled list or array. While a DataFrame is a two-dimensional structure that can hold multiple columns, a Series represents a single column of data.

In [5]:
import pandas as pd

# Creating a Pandas Series
fruits_series = pd.Series(['Apple', 'Banana', 'Cherry', 'Date'], name='Fruits')
print(fruits_series)

# Creating a Pandas DataFrame
data = {'Fruits': ['Apple', 'Banana', 'Cherry', 'Date'],
        'Quantity': [5, 10, 8, 12]}
fruits_df = pd.DataFrame(data)
print(fruits_df)

0     Apple
1    Banana
2    Cherry
3      Date
Name: Fruits, dtype: object
   Fruits  Quantity
0   Apple         5
1  Banana        10
2  Cherry         8
3    Date        12

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## Ans:

1. head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. They are useful for quickly inspecting the data.
2. describe(): Provides summary statistics of numeric columns, such as count, mean, standard deviation, min, and max.
3. info(): Gives a concise summary of the DataFrame, including data types and non-null counts. Useful for understanding missing data.
4. shape: Returns the dimensions (number of rows and columns) of the DataFrame as a tuple.
5. loc[] and iloc[]: Used for label-based and integer-based indexing, respectively. You can use these to select specific rows or columns from the DataFrame.
6. drop(): Allows you to remove rows or columns from the DataFrame.
7. groupby(): Used for grouping data based on one or more columns and applying aggregate functions.
8. sort_values(): Sorts the DataFrame by one or more columns.
9. fillna(): Fills missing values in the DataFrame with specified values or using specific methods.
10. pivot_table(): Creates a pivot table to summarize and reshape data

In [ ]:
df.head(3)  # Display the first 3 rows of the DataFrame
df.tail(2)  # Display the last 2 rows of the DataFrame

df.describe()

df.info()

df.shape  # Returns (rows, columns)
# Select the first row

df.loc[0]
# Select the first three rows and the 'Name' and 'Age' columns
df.loc[0:2, ['Name', 'Age']]

df.drop(0)  # Remove the first row
df.drop(columns=['Age'])  # Remove the 'Age' column

# Grouping by 'Gender' and calculating the mean age for each group
df.groupby('Gender')['Age'].mean()

# Sort by 'Age' in ascending order
df.sort_values(by='Age', ascending=True)

# Fill missing 'Age' values with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Create a pivot table to calculate the mean age by 'Gender' and 'City'
pivot_table = df.pivot_table(values='Age', index='Gender', columns='City', aggfunc='mean')

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

## Ans:

Among the three data structures, Series, DataFrame, and Panel, only the DataFrame is mutable in nature. This means we can modify the data within a DataFrame after it has been created. We can add, remove, or update rows and columns in a DataFrame.

In contrast, both Series and Panel are considered immutable. Once we create them, we cannot change their contents directly. If we want to modify a Series or Panel, we typically create a new one with the desired changes rather than altering the original object. However, in practice, Pandas has evolved, and Panel is not as commonly used as Series and DataFrame, and it has been deprecated in favor of other data structures like MultiIndex DataFrames.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

## Ans:

We can create a DataFrame using multiple Series by combining them into a single DataFrame object. Each Series will become a column in the resulting DataFrame. Here's an example to illustrate how to do this:

In [6]:
import pandas as pd

# Create multiple Pandas Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combine the Series into a DataFrame
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female