## Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Q1. Write a code to print the data present in the second row of the dataframe, df.

## Ans:

In [2]:
df[1:2]

        course_name  duration
1  Machine Learning         3

## Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

## Ans:

1. iloc:
It understands only the default integer indices of the given by Pandas in a Data Frame.\
It does not understand named indices of rows and column names.\
In case of row slicing iloc does not consider upper bound.
2. loc:
It understands the default integer indices of the given by Pandas in a Data Frame as well as named indices of rows and column names.\
In case of row slicing loc considers upper bound.

## Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2]. Did you observe any difference in both the outputs? If so then explain it.

## Ans:

In [6]:
new_df = pd.DataFrame(df,index=[3,0,1,2])
print(new_df)
print('\n')
print('Output of iloc:')
print(new_df.iloc[2])
print('\n')
print('Output of loc:')
print(new_df.loc[2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6


Output of iloc:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object


Output of loc:
course_name    Big Data
duration              6
Name: 2, dtype: object

The difference between 'iloc' and 'loc' output does exists.\
From the 'new_df' the 'iloc[2]' returns row at the 2nd position. Because it follows default integer indices.\
From the 'new_df' the 'loc[2]' returns row at the index number 2. Because it accomodates the changes in the indices

## Consider the below code to answer further questions:

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.149804  0.840254  0.685782  0.411486  0.115454  0.065748
2  0.236126  0.661681  0.097933  0.619145  0.653600  0.607769
3  0.881527  0.561482  0.762784  0.448088  0.230436  0.408697
4  0.425452  0.780079  0.148400  0.473174  0.624158  0.204695
5  0.689031  0.054184  0.743199  0.983200  0.163621  0.983940
6  0.215347  0.034525  0.045370  0.872857  0.424537  0.168716

## Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.\
(ii) standard deviation of column, ‘column_2’

## Ans:

In [10]:
print('Mean from columns:')
print(df1.mean())
print('Mean from rows:')
print(df1.mean(axis=1))

Mean from columns:
column_1    0.432881
column_2    0.488701
column_3    0.413911
column_4    0.634658
column_5    0.368634
column_6    0.406594
dtype: float64
Mean from rows:
1    0.378088
2    0.479376
3    0.548836
4    0.442660
5    0.602863
6    0.293558
dtype: float64

In [11]:
df1['column_2'].std()

0.35743264039014544

## Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [12]:
df1.loc[2,['column_2']]='Khanjan'
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.149804  0.840254  0.685782  0.411486  0.115454  0.065748
2  0.236126   Khanjan  0.097933  0.619145  0.653600  0.607769
3  0.881527  0.561482  0.762784  0.448088  0.230436  0.408697
4  0.425452  0.780079  0.148400  0.473174  0.624158  0.204695
5  0.689031  0.054184  0.743199  0.983200  0.163621  0.983940
6  0.215347  0.034525  0.045370  0.872857  0.424537  0.168716

In [13]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error occures because the in the 'column_2' all the data belongs to float data type and from this calculation of mean is possible. But as we have added 'Khanjan' (a string data) so calculation of mean is not possible.

## Q6. What do you understand about the windows function in pandas and list the types of windows functions?

## Ans

Windowing operations in pandas are a set of APIs that perform an aggregation over a sliding partition of values. The API functions similarly to the groupby API in that Series and DataFrame call the windowing method with necessary parameters and then subsequently call the aggregation function 1.

Pandas supports 4 types of windowing operations:

1. Rolling window: Generic fixed or variable sliding window over the values.
2. Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.
3. Expanding window: Accumulating window over the values.
4. Exponentially Weighted window: Accumulating and exponentially weighted window over the values

## Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

## Ans:

In [2]:
import pandas as pd
df7 = pd.DataFrame({"date":['2023-09-11']})
df7['update_date'] = pd.to_datetime(df7['date'])
df7['year'] = df7['update_date'].dt.year
print('Current year:')
print(df7['year'])
df7['month'] = df7['update_date'].dt.month
print('Current monthe:')
print(df7['month'])

Current year:
0    2023
Name: year, dtype: int64
Current monthe:
0    9
Name: month, dtype: int64

## Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

## Ans:

In [4]:
date1 = input('Enter the first date:')
date2 = input('Enter the second date:')
lst = []
lst.append(date1)
lst.append(date2)
df = pd.DataFrame({"date":lst})
df['update_date'] = pd.to_datetime(df['date'])
time1 = pd.Timedelta(days =0 , hours = 2 , minutes = 15)
time2 = pd.Timedelta(days =0 , hours = 3 , minutes = 25)
print((df['update_date'][1]+time1)-(df['update_date'][0]+time2))

Enter the first date: 2023-09-11
Enter the second date: 2023-09-13

1 days 22:50:00

## Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

## Ans:

In [ ]:
path = input('Enter the path:')
df = pd.read_csv(path)

## Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

## Ans:

## Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table. The program should do the following:
1. Prompt the user to enter the file path of the CSV file containing the student data
2. Read the CSV file into a Pandas DataFrame
3. Calculate the mean, median, and mode of the test scores using Pandas tools
4. Display the mean, median, and mode in a table.

In [1]:
import pandas as pd
import numpy as np

In [4]:
path = input('Enter the path of the CSV file:')

Enter the path of the CSV file: student_data.csv

In [5]:
df = pd.read_csv(path)
df

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [14]:
d =[['Mean', df['Test Score'].mean()], ['Median', df['Test Score'].median()], ['Mode',df['Test Score'].mode()]]
d

[['Mean', 83.5],
 ['Median', 85.0],
 ['Mode', 0    85
  Name: Test Score, dtype: int64]]

In [15]:
df1 = pd.DataFrame(d)
df1

        0                                       1
0    Mean                                    83.5
1  Median                                    85.0
2    Mode  0    85
Name: Test Score, dtype: int64

In [16]:
df1.columns = ['Statistic','Value']
df1

  Statistic                                   Value
0      Mean                                    83.5
1    Median                                    85.0
2      Mode  0    85
Name: Test Score, dtype: int64